.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jumbotron{
background-color: #737e91;
background-image: url(/4de356f…/00972/assets/images/geometry.svg);
background-repeat: repeat;
color: #fff;
min-height: 400px;
padding: 180px 20px;
padding-bottom: 140px;
text-align: center;
}
li{
  margin: 20px;
}

